<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/main.css" />
    <title>Coldnyummy</title>
  </head>
  <body>
    <div class="wrapper">
      <%- include('./partials/header'); -%>

      <div class="yummy-img">
        <a href="toplist" class="yummy-btn">Which flavour is winning?</a>
        <img src="/images/coldnyummy.png" alt=""/>
      </div>

      <h3 class="main-text">which flavour would you like to see next?</h3>

      <form action="">
        <select class="form-select" aria-label="Default select example">

          <option selected> Choose a flavour </option>
          <option value="1">1. Simons Frästlese</option>
          <option value="2">2. Jockes konkelbär</option>
          <option value="3">3. Hasbulla Strawberry</option>
          <option value="4">4. Banana Sprite </option>
          <option value="5">5. Cookie Dough</option>
          <option value="6">6. Ayran Special</option>
          <option value="7">7. Piravid Päron </option>
          <option value="8">8. Coco special </option>
          <option value="9">9. Peachy Puff</option>
          <option value="10">10. Nabhans special </option>
        </select>

        <input type="text" placeholder="Name">
        <input type="text" placeholder="Email">

        <button type="submit" class="form-btn">Submit</button>
      </form>

     
      
     
    </div>
  </body>
</html>
