<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/main.css" />
    <title>Coldnyummy</title>
  </head>
  <body>
    <%- include('./partials/header'); -%>
    <div class="wrapper">
      <div class="flavours-list">

        <form action="/vote" method="POST">
          <h1> 🍓which flavour would you like to see next?🍑 </h1>
          <ol>
            <% for(let flavour of flavourList){ %>
                <ul> 
                    <input class="radio" type="radio" name="flavour" value="<%= flavour.flavour_title %>">
                    <%= flavour.flavour_title %>
                </ul>
            <% } %> 
         </ol>
         <input type="text" placeholder="email" required>
         <button>send vote</button>
        </form>

      </div>
    </div>

   <!--    <form action="setvote" method="post">
        <select class="form-select" aria-label="Default select example">
          <option selected class="selected"> Choose a flavour </option>
          <option value="1" id="1">1. Simons Frestlese</option>
          <option value="2" id="2">2. Jockes konkelbär</option>
          <option value="3" id="3">3. Hasbulla Strawberry</option>
          <option value="4" id="4">4. Banana Sprite </option>
          <option value="5" id="5">5. Cookie Dough</option>
          <option value="6" id="6">6. Ayran Special</option>
          <option value="7" id="7">7. Piravid Päron </option>
          <option value="8" id="8">8. Coco special </option>
          <option value="9" id="9">9. Peachy Puff</option>
          <option value="10"id="10">10. Nabhans special </option>
        </select>
        <input type="text" placeholder="Email" required>
        <button type="submit" class="form-btn">Submit</button>
      </form> -->

    </div>
  </body>
</html>
